<div class="registri">
    <div>
        <span>Registri</span>
        <ng-container *ngIf="isDLX">
            <div class="gpd" *ngFor="let r of registri.r; index as i">
                <div class="index">{{i}}</div>
                <div class="registro">
                    {{r | format: fType}}
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="isRV32I">
            <div class="registro" *ngFor="let x of registri.x">{{x | format: fType}}</div>
        </ng-container>
    </div>
    <div *ngIf="isDLX">
        <span>iar</span>
        <div class="registro">{{registri.iar | format: fType}}</div>
        <span>pc</span>
        <div class="registro">{{registri.pc | format: fType}}</div>
        <span>mar</span>
        <div class="registro">{{registri.mar | format: fType}}</div>
        <span>ir</span>
        <div class="registro">{{registri.ir | format: fType}}</div>
        <span>temp</span>
        <div class="registro">{{registri.temp | format: fType}}</div>
        <span>mdr</span>
        <div class="registro">{{registri.mdr | format: fType}}</div>
        <span>a</span>
        <div class="registro">{{registri.a | format: fType}}</div>
        <span>b</span>
        <div class="registro">{{registri.b | format: fType}}</div>
        <span>c</span>
        <div class="registro">{{registri.c | format: fType}}</div>
    </div>
    <div *ngIf="isRV32I">
        <span>PC</span>
        <div class="registro">{{registri.pc | format: fType}}</div>
        <span>Instruction</span>
        <div class="registro">{{registri.instruction | format: fType}}</div>
        <span>Opcode</span>
        <div class="registro">{{registri.opcode | format: fType : 7}}</div>
        <span>RD</span>
        <div class="registro">{{registri.rd | format: fType : 5}}</div>
        <span>RS1</span>
        <div class="registro">{{registri.rs1 | format: fType : 5}}</div>
        <span>RS2</span>
        <div class="registro">{{registri.rs2 | format: fType : 5}}</div>
        <span>Func3</span>
        <div class="registro">{{registri.func3 | format: fType : 3}}</div>
        <span>Func7</span>
        <div class="registro">{{registri.func7 | format: fType : 7}}</div>
        <span>Immediate</span>
        <div class="registro">{{registri.immediate | format: fType : 20}}</div>
        <span>Jump-Offset</span>
        <div class="registro">{{registri.jumpOffset | format: fType : 20}}</div>
    </div>
</div>
<mat-button-toggle-group name="fType" [(ngModel)]="fType">
    <mat-button-toggle value="dec">Decimale</mat-button-toggle>
    <mat-button-toggle value="bin">Binario</mat-button-toggle>
    <mat-button-toggle value="hex">Esadecimale</mat-button-toggle>
</mat-button-toggle-group>
