.registri
    display: grid
    grid-template-columns: auto auto
    margin-left: 1rem
    .gpd
        display: grid
        grid-template-columns: 2ch auto
        .index
            font-family: monospace
            width: 2ch
            text-align: right
            padding: 2px 0
    .gpd-rv32i
        display: grid
        grid-template-columns: 3ch auto
        .index-rv32i
            font-family: monospace
            width: 3ch
            text-align: right
            padding: 2px 0
    .registro
        font-family: monospace
        width:  32ch
        height: 1em
        border: 1px solid grey
        padding: 2px
