@import '~@angular/material/theming'

:host
    display: block
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    padding: 3rem

mat-card
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    width: fit-content
    margin: 0 auto
.line
    width: fit-content
    padding: 1rem
    border-radius: 1rem
    font-weight: 500
