.cm-s-darktheme
    &.CodeMirror
        background-color: #212121
        color: #EEFFFF

    .CodeMirror-gutters
        background: #2f2f2f
        color: #BDBDBD
        border: none

    .CodeMirror-guttermarker,
    .CodeMirror-guttermarker-subtle,
    .CodeMirror-linenumber
        color: #BDBDBD

    .CodeMirror-cursor
        border-left: 1px solid #FAFAFA

    div.CodeMirror-selected,
    &.CodeMirror-focused div.CodeMirror-selected,
    .CodeMirror-line::selection,
    .CodeMirror-line>span::selection,
    .CodeMirror-line>span>span::selection
        background: #40C4FF33

    .CodeMirror-gutter-background.CodeMirror-activeline-gutter,
    .CodeMirror-activeline-background
        background: #ffffff10

    .cm-keyword-r
        color: #00ffd5
    .cm-keyword-i
        color: #229bff
    .cm-keyword-s
        color: #afafff
    .cm-keyword-b
        color: #ff00dd
    .cm-keyword-u
        color: #5dbcd2
    .cm-keyword-j
        color: #ff00dd

    .cm-operator
        color: #89DDFF

    .cm-variable
        color: #00ff00

    .cm-variable-2
        color: #b3ff00

    .cm-variable-3,
    .cm-type
        color: #f07178

    .cm-builtin
        color: #FFCB6B

    .cm-atom
        color: #F78C6C

    .cm-number
        color: #ffae00

    .cm-def
        color: #82AAFF

    .cm-string
        color: #C3E88D

    .cm-string-2
        color: #f07178

    .cm-comment
        color: #6f8d9b

    .cm-tag
        color: #ffeb3b

    .cm-meta
        color: #FF5370

    .cm-attribute
        color: #C792EA

    .cm-property
        color: #C792EA

    .cm-qualifier
        color: #DECB6B

    .cm-variable-3,
    .cm-type
        color: #DECB6B

    .cm-error
        color: rgba(255, 255, 255, 1.0)
        background-color: #FF5370

    .CodeMirror-matchingbracket
        text-decoration: underline
        color: white !important
