<ngx-codemirror #codeEditor
    [(ngModel)]="content"
    [options]="options"
></ngx-codemirror>
<button mat-raised-button (click)="onRun()" [disabled]="isRunDisabled">
    <span class="btn">Run <i class="fas fa-play green"></i></span>
</button>
<button mat-raised-button (click)="onStop()" [disabled]="isStopDisabled">
    <span class="btn">Stop <i class="fas fa-square red"></i></span>
</button>

<mat-form-field>
    <input matInput type="text" placeholder="Start tag" [(ngModel)]="start">
</mat-form-field>

<button mat-raised-button (click)="onSave()">
    <span class="btn">Save <i class="fas fa-save"></i></span>
</button>
