<div class="editor" tabindex="-1" (keydown)="onKeydown($event)">
    <div class="numbers">
        <div class="number" *ngFor="let line of lines; index as i" [class.selected]="i == cursor.y">{{i}}</div>
    </div>
    <div class="lines">
        <div class="cursor" [style.left]="'calc( '+cursor.x+'ch - '+(cursor.x * 0.3)+'px)'" [style.top]="(cursor.y * 1.5) + 'rem'"></div>
        <pre class="line" *ngFor="let line of lines; index as i" [class.selected]="i == cursor.y" [appCodeline]="lines[i]"></pre>
    </div>
</div>
