:host
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    ngx-codemirror
        flex: 1 1 auto
.btn
    display: flex
    align-items: center
    svg
        margin-left: .5em
.red
    color: #ff0000
.green
    color: #00ff00
.amber
    color: #ffcc00

.btn-container
    display: flex
    justify-content: space-between
    margin-top: 1rem
    .left
        display: flex
        flex-wrap: wrap
        .mat-raised-button
            height: fit-content
            margin-top: 13.5px
    .right
        flex: 0 0 auto
        .mat-raised-button
            height: fit-content
            margin-top: 13.5px

.input-interval
    min-width: 2rem
    max-width: 6rem
    margin-right: 1rem

.input-label
    min-width: 2rem
    max-width: 6rem

.mr
    margin-right: 1rem

input[type=number]
    -webkit-appearance: textfield
    -moz-appearance: textfield
    appearance: textfield
    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button
        -webkit-appearance: none
        margin: 0
