@import '~@angular/material/theming'

.main
    display: grid
    grid-template-columns: 60% auto
.container 
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
.mat-sidenav
    border: none
    width: 23rem
