@import "~codemirror/lib/codemirror"
@import "app/editor/codemirror-theme"

.CodeMirror
    font-size: 1.5rem
    .running
        background-color: #ffff002b
        .CodeMirror-linenumber.CodeMirror-gutter-elt
            background-color: #ffff002b
